$purple: #59344F;

//wishlist...
//scroll effect
//tabs expand on hover

body {
  padding: 0;
  margin: 0;
  background-color: rgb(22, 20, 20);
}

#app {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-content: space-between;
  // overflow: hidden;
}


#contentContainer {
  height: 80%;
}

.content {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  flex: 1 1 auto;
  align-items: center;
  height: auto;
}

@import 'styles/header';
@import 'styles/navbar';
@import 'styles/about';
@import 'styles/projects';
@import 'styles/contact';

