$purple: #59344F;

.about {
  background-color: $purple;
  font-family: 'Open Sans', sans-serif;
    a {
      color: white;
      text-decoration: underline;
      cursor: pointer;
    }
    #title {
      font-size: 2em;
    }
    .header {
      font-size: 1em;
    }
    p {
        color: white;
        font-size: 1em;
        letter-spacing: .15em;
    }
    ul {
      margin-top: 0;
      padding-left: 1em;    }
    li {
      color: white;
      font-size: 1em;
      letter-spacing: .15em;
      padding-bottom: .5em;
    }
}

#about {
  border: 1px solid transparent;
  display: flex;
  flex-direction: column;
  padding: 0 3em 3em 3em;
  height: auto;
  #main {
    margin-left: 2em;
    margin-bottom: 1em;
    img {
      float: left;
      height: 25em;
      margin: 2em 3em 2em 0;
      width: auto;
      box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.4);
      align-self: flex-start;
    }
  }
  #subcontent {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    .contentBox {
      border-left: 1px solid white;
      flex-grow: 1;
      max-width: 28%;
      min-width: 300px;
      display: flex;
      flex-direction: column;
      padding: 1em 2em 0 1em;
      margin-bottom: 2em;
      li {
        font-size: .8em;
      }
    }
  }
}


@media (max-width: 720px){
  #about {
    display: flex;
    flex-direction: column;
    img {
      margin-right: 0;
      height: 20em;
      align-self: center;
    }
  }
  .content {
    height: auto;
  }
}

@media (max-width: 420px){
  #about {
    padding: 0 1.5em 1.5em 1.5em;
    #main {
      margin-left: 0;
      img {
        width: 100%;
        height: auto;
        margin-right: 0;
      }
      #title {
        font-size: 1.5em;
      }
    }
    #subcontent {
      p {
        font-size: .8em;
      }
      padding: 0 1.5em 0 0;
      .contentBox {
        padding: 1em 0 0 1em;
        min-width: 100%;
        .header {
         font-size: 1em;
        }
        li {
          font-size: .8em;
        }
      }
      
    }

    
  }
}
