$purple: #59344F;
$grey: #857E7B;
$green: #8BBF9F;
$yellow: #D6BA73;
$wheat: #F5E0B7;

.about {
  background-color: $purple;
    .title {
      font-size: 2em;
    }
    .header {
      border-bottom: 1px solid white;
      width: 5em;
    }
    p {
        color: white;
        font-size: 1.5em;
        letter-spacing: .15em;
    }
    ul {
      margin-top: 0;
      padding-left: 1em;    }
    li {
      color: white;
      font-size: 1.5em;
      letter-spacing: .15em;
      padding-bottom: .5em;
    }
}

#about {
  border: 1px solid transparent;
  display: flex;
  flex-direction: row;
  padding: 0 3em 0 3em;
  height: auto;
  img {
    height: 25em;
    margin-top: 2em;
    width: auto;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.4);
    margin-right: 10%;
    align-self: flex-start;
  }
}

#text {
  display: flex;
  flex-direction: column;
  height: 100%;
}

@media (max-width: 720px){
  #about {
    display: flex;
    flex-direction: column;
    img {
      margin-right: 0;
      height: 20em;
      align-self: center;
    }
  }
  .content {
    height: auto;
  }
}
