$purple: #59344F;
$black:  rgb(22, 20, 20);

.contact {
  background-color: $purple;
  font-family: 'Open Sans', sans-serif;
  #form {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 50%;
    margin-bottom: 2em;
    p {
      color: white;
      margin-bottom: .5em;
      padding: .5em;
    }
    .field {
      padding: .5em;
    }
    #message {
      height: 8em;
      margin-bottom: 1.5em;
      border: none;
      padding: .5em;
    }
    #submit {
      background: rgb(134, 54, 113);
      padding: 8px 15px 8px 15px;
      border: none;
      color: #fff;
      font-size: 1em;
      width: 30%;
      min-width: 200px;
      align-self: center;
      margin-bottom: 1em;
      &:hover {
        cursor: pointer;
        background-color: rgb(134, 85, 121);
      }
      &:focus {
            outline:0;
      }
    }
  }
} 

@media (max-width: 420px){
  .contact {
    height: auto;
  }
}