$purple: #59344F;
$black:  rgb(22, 20, 20);

.contact {
  background-color: $purple;
  font-family: 'Open Sans', sans-serif;
  #form {
    display: flex;
    flex-direction: column;
    align-content: center;
    width: 50%;
    padding-bottom: calc((70vh - 24em)/2);
    height: 26em;
    padding-top: calc((40vh - 26em)/2);
    p {
      color: white;
      margin-bottom: .5em;
      padding: .5em;
    }
    .field {
      padding: .5em;
    }
    #message {
      height: 5em;
      margin-bottom: 1.5em;
      border: none;
      padding: .5em;
    }
    #submit {
      background: rgb(134, 54, 113);
      padding: 8px 15px 8px 15px;
      border: none;
      color: #fff;
      font-size: 1em;
      width: 30%;
      min-width: 200px;
      align-self: center;
      margin: 1em;
      height: 3em;
      border-radius: 20px;
      &:hover {
        cursor: pointer;
        background-color: rgb(134, 85, 121);
        transition: .8s;
      }
      &:focus {
            outline:0;
      }
    }
  }
} 

@media (max-width: 420px){
  .contact {
    height: auto;
  }
}